<div class="container" style="max-width: 100ch">
  <div *ngIf="isLoggedin === false">
    <div>
      <button type="button" (click)="loginWithGoogle()" class="btn btn-primary">
        <i class="fab fa-google"> => => => <i class="fas fa-sign-in-alt"></i></i>
      </button>
    </div>
  </div>
  <div *ngIf="isLoggedin === true">
    <button type="button" (click)="logOut()" class="btn btn-danger"><i class="fas fa-sign-out-alt"></i> => => => <i class="fas fa-globe-americas"></i></button>

    <app-task [user]="user"></app-task>
  </div>
  <div><img src="../../../../assets/main.jpg" alt="tupperapp" style="width: 100%;"></div>
</div>


