<div id="newTask">
    <div class="card bg-primary text-light p-2">
    
        <form [formGroup]="form" (ngSubmit)="onSubmit()" class="card-body">
            
            <div *ngIf='title.invalid'>El titulo es demasiado corto</div>

            <input formControlName="title" class="form-control card-title" placeholder="TITULO: debe ser de más de 10 letras">

            <textarea formControlName="description"  class="form-control card-title" placeholder="Contenido" rows="4" cols="50"></textarea>

            <button *ngIf="(title.value?.length<9)" type="submit" class="btn btn-success" >Guardar</button>
            <button (click)="setValue($event)" class="btn btn-danger m-3" >Borrar</button>
        </form>
    </div>
</div>
<!-- </div>
    <div *ngFor="let tarea of tareasEncontradas" class="card bg-primary text-light m-2">
        <div class="card-body"> -->
            <!-- <h5 class="card-title">{{tareas.name}}</h5> -->
            <!-- <p class="card-text">{{tareas.content}}</p> -->
            <!-- <h5 class="card-title">{{tarea.title}}</h5>
            <p class="card-text">{{tarea.description}}</p>

            <button type="button" (click)="editTask(tarea._id)" class="btn btn-success">Editar</button>  
            <button type="submit" click="" class="btn btn-danger m-3">Borrar</button>  
        </div>
    </div>
</div> -->