<div id="newTask">
    <div id="tarjeta" class="card text-light p-2">
        <!-- <form [formGroup]="form" (ngSubmit)="crarNuevaTarea()" class="card-body"> -->
        <form [formGroup]="form" class="card-body">
            
            <div *ngIf="(titleNew.value.length)<9">El titulo es demasiado corto</div>

            <input #titleNew formControlName="title" class="form-control card-title" placeholder="TITULO: debe ser de más de 10 letras">

            <textarea formControlName="description"  class="form-control card-title" placeholder="Contenido" rows="4" cols="50"></textarea>

            <button type="button" *ngIf="!((titleNew.value.length)<9)" (click)="crarNuevaTarea()" class="btn btn-success" >Guardar</button>
            <!-- <button type="button" (click)="setValue($event)" class="btn btn-danger m-3" >Borrar</button> -->
            <button type="button" (click)="setValue()" class="btn btn-danger m-3" >Borrar</button>
        </form>
    </div>
</div>
<!-- </div>
    <div *ngFor="let tarea of tareasEncontradas" class="card bg-primary text-light m-2">
        <div class="card-body"> -->
            <!-- <h5 class="card-title">{{tareas.name}}</h5> -->
            <!-- <p class="card-text">{{tareas.content}}</p> -->
            <!-- <h5 class="card-title">{{tarea.title}}</h5>
            <p class="card-text">{{tarea.description}}</p>

            <button type="button" (click)="editTask(tarea._id)" class="btn btn-success">Editar</button>  
            <button type="submit" click="" class="btn btn-danger m-3">Borrar</button>  
        </div>
    </div>
</div> -->