
<footer class="bg-dark text-center text-white">
    <div class="container p-4">
      <section class="mb-4">
        <a class="btn btn-outline-light btn-floating m-1" href="https://twitter.com/henrysalo" role="button"
          ><i class="fab fa-twitter"></i
        ></a>
        <a class="btn btn-outline-light btn-floating m-1" href="https://www.instagram.com/henrysalomon/" role="button"
          ><i class="fab fa-instagram"></i
        ></a>
        <a class="btn btn-outline-light btn-floating m-1" href="https://www.linkedin.com/in/hssl/" role="button"
          ><i class="fab fa-linkedin-in"></i
        ></a>
        <a class="btn btn-outline-light btn-floating m-1" href="https://github.com/henrysalo" role="button"
          ><i class="fab fa-github"></i
        ></a>
      </section>
    </div>
      <section class="p-4">
        <p>
          <i>Cuando imagino cómo es el universo, dilucidar lo pequeña que es mi mente frente a todo lo posible en la existencia, es mi referente de vida. Es inmensurable el conocimiento que estará perdido cuando todas las existencias inteligentes que se hayan desarrollado, por el andar del tiempo y el cobijo del espacio, se hayan extinguido. Conceptos como la muerte entrópica pueden darse y el propio universo no podría detenerlo, pero es ahí donde nos deberíamos centrar, que no tiene porqué.</i>
        </p>
      </section>
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2021 Desarrollado por HenrySalo
    </div>
  </footer>